{% extends "index.html"%}
{% from '_macros.html' import input_float %}
{% block content %}

<div class="mx-auto col-md-6 shadow-lg p-4 my-4 border rounded-4">
    <div class="row text-center">
        <span class="h1">
            <kbd>ELIMINAR</kbd>
        </span>
    </div>
    <form action="/maestros_eliminar" id="eliminar" method="POST" novalidate>

        {{ input_float(form.id, class="form-control disabled") }}

        {{ input_float(form.nombre, class="form-control text-uppercase") }}

        {{ input_float(form.apellidoPaterno, class="form-control text-uppercase") }}

        {{ input_float(form.apellidoMaterno, class="form-control text-uppercase") }}

        {{ input_float(form.materia, class="form-control text-uppercase") }}

        {{ input_float(form.email, class="form-control text-lowercase") }}

        <div class="text-center">
            <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
            <button class="btn btn-danger" type="submit" name="eliminar" value="eliminar" id="eliminar">
                ELIMINAR
            </button>
            <a href="/maestros" class="btn btn-succes"></a>
        </div>

    </form>
</div>


{% endblock %}